h1 {
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 5px;
    font-size: 50px;
}

p {
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}