body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 75%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-end;
}

#container div {
    width: 150px;
    height: 150px;
}

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

/*
Flex syntax
Three values: flex-grow | flex-shrink | flex-basis
Two values: flex-grow | flex-basis (if with unit)
Two values: flex-grow | flex-shrink
One value: flex-grow
*/
main .sidebar {
    background-color: lightskyblue;
    border: 2px solid white;
    flex: 1 2 300px;
}

main .maincontent {
    background-color: lightsalmon;
    flex: 2 800px;
}

