div {
    width: 100px;
    height: 100px;
    background-color: darkslategray;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
}

#middle {
    background-color: aqua;
}

#static #middle {
    position: static;
}

#relative #middle {
    position: relative;
    top: 30px;
    left: 30px;
}

#absolute {
    position: relative;
}

#absolute #middle {
    position: absolute;
    top: 30px;
    left: 30px;
}

#fixed #middle {
    position: fixed;
    top: 0px;
    left: 0px;
}