div {
    width: 150px;
    height: 150px;
    background-color: cadetblue;
    transition: margin-left 3s, background-color 1s;
    transform: translateX(300px) rotate(45deg);
}

div:hover {
    background-color: coral;
    margin-left: 100px;
}